{% extends "stats/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
	<div class="content-section">
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Gradelines</legend>
				<div class="form-row">
					<div class="col">
						{{ form.a|as_crispy_field }}
					</div>
					<div class="col">
						{{ form.a_minus|as_crispy_field }}
					</div>
				</div>
				<div class="form-row">
					<div class="col">
						{{ form.b_plus|as_crispy_field }}
					</div>
					<div class="col">
						{{ form.b|as_crispy_field }}
					</div>
					<div class="col">
						{{ form.b_minus|as_crispy_field }}
					</div>
				</div>
				<div class="form-row">
					<div class="col">
						{{ form.c_plus|as_crispy_field }}
					</div>
					<div class="col">
						{{ form.c|as_crispy_field }}
					</div>
					<div class="col">
						{{ form.c_minus|as_crispy_field }}
					</div>
				</div>
				<div class="form-row">
					<div class="col">
						{{ form.d_plus|as_crispy_field }}
					</div>
					<div class="col">
						{{ form.d|as_crispy_field }}
					</div>
					<div class="col">
						{{ form.d_minus|as_crispy_field }}
					</div>
				</div>
				<div class="form-row">
					<div class="col">
						{{ form.f|as_crispy_field }}
					</div>
				</div>
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">
					Save
				</button>
			</div>
		</form>
	</div>
{% endblock content %}
